[submodule "bin/XCreateMouseVoid"]
	path = bin/XCreateMouseVoid
	url = https://github.com/cas--/XCreateMouseVoid
[submodule "bin/include-spider"]
	path = bin/include-spider
	url = https://github.com/mxmlnkn/include-spider.git
[submodule "bin/dejsonlz4-git"]
	path = bin/dejsonlz4-git
	url = https://github.com/avih/dejsonlz4
[submodule "bin/firefox_decrypt"]
	path = bin/firefox_decrypt
	url = https://github.com/unode/firefox_decrypt.git
