# Archives (Git compresses files itself, or use --force to add)
*.7z
*.zip
*.xz
*.bz2
*.gz
*.tar
*.rar
*.tbz2
*.tgz

*.stackdump
*.nb

# Basically binaries, file size intesive -> use --force to add, if really necessary
*.pdf
*.mkv
*.dat
*.csv
*.pptx
*.ppt
*.jar

# Images
*.jpg
*.gif
*.png
*.tif
*.tiff
*.bmp

# CMake build files
**/build*/
**/CMakeFiles/
**/CMakeCache.txt

# temporary files
.*~
*~
*.old
*.bak
*.stackdump

# Files created on some filesystems when deleting a file still in use
.fuse*
.nfs*

# Geany
*.geany

# netbeans project files
/nbproject/

# Code::Blocks project files
/*.cbp
/*.layout

# original backup files
*.orig

# hidden files
.*
!/.git*

# Text Files (use .md for important notes instead)
*.txt

# Log files
*.err
*.out
*.log

*.html
*.json

# Personal standard folders
KNOWLEDGE/*
output/*
etc/

# Binaries
bin/gpuinfo
