# See https://www.gnu.org/software/bash/manual/html_node/Readline-Init-File-Syntax.html#Readline-Init-File-Syntax
# See man readline

set colored-stats On
set expand-tilde Off
set horizontal-scroll-mode Off
set bell-style none

"\e[5D": backward-word
"\e[5C": forward-word

# rxvt and konsole (i.e. the KDE-app...)
"\e[7~": beginning-of-line
"\e[8~": end-of-line

# VT220
"\eOH": beginning-of-line
"\eOF": end-of-line

"\e[5~": beginning-of-history
"\e[6~": end-of-history
# the following line is actually
# equivalent to "\C-?": delete-char
"\e[3~": delete-char
"\e[2~": quoted-insert

set colored-stats On
set expand-tilde Off

# What I want:
#   beginning-of-line     Ctrl + Pos1           moves cursor to line beginning
#   end-of-line           Ctrl + End            ~ to line end
#   forward-word          Ctrl + Right Arrow    moves cursor to next word
#   backward-word         Ctrl + Left Arrow     ~ previous word
#   kill-word             Ctrl + Del            deletes word right of cursor
#   backward-kill-word    Ctrl + Backspace      ~ left of cursor
#   redraw-current-line
#   re-read-init-file     F5                    reloads .inputrc
# About conversion:
#   Go to relevant terminal and press Ctrl+V and then the keystroke you want to map
#   E.g. for VT Ctrl+Del will produce ^[[3~
#   For some reason though this can't be copied directly into inputrc -.-!
#   ^[ is an escape squence (ascii 27) and needs to be replaced with \e in inputrc
# Ctrl+V is verbatim insert or from "Linux in a Nutshell" pg. 698: "Insert next character verbatim"

# xfce4-terminal
# can be made to work with VT with makeArrowsWorkInVT.sh also contains mapping for del
"\e[H": beginning-of-line
"\e[F": end-of-line
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[3;5~": kill-word
"\e[9;3~": backward-kill-word
"\e[15~": redraw-current-line
"\e[15~": re-read-init-file

# VT - the virtual terminals (ctrl+alt+f1-f12 have for some reason different keymappings
"\e[1~": beginning-of-line
"\e[4~": end-of-line
#"\e[D": backward-word
#"\e[C": forward-word
#"\e[3~": kill-word
"\x8": backward-kill-word
"\e[[E": re-read-init-file

#"\C-w": kill-word
# Things which for some reason work by default (so, just a cheat sheet):
# http://readline.kablamo.org/emacs.html or "man readline"
# https://wiki.archlinux.org/index.php/readline

# Commands for Moving
# "\C-a": beginning-of-line
# "\C-e": end-of-line
# "\C-f": forward-char
# Ctrl+Alt+f because Alt+f opens menu in xfce4-terminal
"\e\C-f": forward-char
# "\C-b": backward-char
# "\ef": forward-word
# "\eb": backward-word
# "\C-l": clear-screen

# ...

# Commands for Changing Text
# "\C-d": delete-char
# "\C-t": transpose-chars
# "\et": transpose-words
# "\eu": upcase-word
# "\el": downcase-word
# "\ec": capitalize-word

# Killing and Yanking
# "\C-k": kill-line
# "\C-u": unix-line-discardh
# "\ed": kill-word
# "\erubout": backward-kill-word
# "\C-w": unix-word-rubout
# "\C-y": yank
# "\e-popy": yank-pop

# I don't want unix-word-rubout which ignores special characters and deletes up until next space.
# I got used to backward-kill-word for Ctrl+Backspace :(
# Beware that it is hard to undo if the terminal sends ^W (visual studio code):
# https://stackoverflow.com/questions/10980575/how-can-i-unbind-and-remap-c-w-in-bash
"\C-W": backward-kill-word

# Get triggered key commands with showkey -a.
# Show current bindings with bind -P
# Load bindings with bind -f ~/.inputrc
# https://linuxcommand.org/lc3_man_pages/bindh.html
# Remove key binding with bind -r "\C-w"
# bind -v  List variable names and values in a form that can be reused as input.
